doctype html
html
  head
    link(href="css/foundation.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")

  body
    .wrapper
      header
        .conteiner
          .header-content
            nav.top-menu
              ul
                li.top-menu__item
                  a(href="#") ИНФОРМАЦИ
                li.top-menu__item
                  a(href="#") НОВОСТИ
                li.top-menu__item
                  a(href="#") ПРАЙС-ЛИСТ
                li.top-menu__item
                  a(href="#") МАГАЗИН
                li.top-menu__item
                  a(href="#") КОНТАКТЫ
            .auth
              button.btn__login ВХОД

      main
        .conteiner
          .logo
            img(src='svg/Logo.svg').logo__img
          .about

          section.default
          section.default

    .footer