main {
  min-height: 100vh;
  background-image: url("../img/tint.jpg");
  background-color: #070707;
  background-size: cover;
}

.logo {
  padding-top: 57px;
  text-align: center;
}

.logo__img {
  width: 368px;
  height: 204px;
}